.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.buttona {
    cursor: pointer;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 320px;
    background: #34383c;
    font-size: 14px;
    line-height: 1.4285em;
    color: #34383c;
}

.a {
    text-deoration: none;
}

.App-header {
    background-color: #343843;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0 auto;
    background-color: #34383c;
}

.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
}

.topnav a {
    float: left;
    display: block;
    border-radius: 3px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.ui.menu>.container,
.ui.menu>.grid {
    display: flex;
    align-items: inherit;
    flex-direction: inherit;
}

.ui[class*="top fixed"].menu {
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui.fixed.menu,
.ui[class*="top fixed"].menu {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}

.ui.menu.fixed {
    border-radius: 0!important;
}

.ui.menu.fixed {
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
}

.ui.menu:first-child {
    margin-top: 0;
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: rgba(19, 20, 22, 0.56);
    box-shadow: none;
}

.ui.menu {
    font-size: 1rem;
}

.ui.menu {
    margin: 1rem 0;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        width: 723px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

.ui.container {
    display: block;
    max-width: 100%!important;
}

@media only screen and (min-width: 768px) {
    .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
        border-left: 1px solid rgba(34, 36, 38, .1);
    }
}

.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
    border-radius: 0!important;
}

.ui.inverted.menu .header.item {
    margin: 0;
    background: 0 0;
    box-shadow: none;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: hsla(0, 0%, 100%, .9);
}

.ui.menu .header.item,
.ui.vertical.menu .header.item {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.55px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.ui.menu:not(.vertical) .item {
    display: flex;
    align-items: center;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

.fnBotP a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    padding: 15px 10px;
    transition: opacity 175ms ease-out 0s;
}

.fnBotP:hover {
    color: rgb(255, 255, 255);
}

.ui.menu:not(.vertical) .item {
    display: flex;
    align-items: center;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

.ui.menu .item>i.icon {
    opacity: .9;
    float: none;
    margin: 0 .35714286em 0 0;
}

i.icon,
i.icons {
    font-size: 1em;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: hsla(0, 0%, 100%, .9);
}

.ui.menu:not(.vertical) .item {
    display: flex;
    align-items: center;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
    display: flex;
    margin-left: auto!important;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui) {
    background: 0 0;
    color: hsla(0, 0%, 100%, .9);
}

.ui.menu:not(.vertical) .item {
    display: flex;
    align-items: center;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

.bhiRrt {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #34383c;
    cursor: not-allowed;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: white;
    border-color: #ffffff;
    border: none;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, box-shadow;
    transition-property: background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

button {
    outline: none;
}

.bhiRrt:hover {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #34383c;
    cursor: not-allowed;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: white;
    border-color: #ffffff;
    border: none;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, box-shadow;
    transition-property: background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
button {
    appearance: button;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.fxraPU {
    margin-left: 30px;
    flex: 1 1 0%;
}

.kQtcqw {
    display: flex;
    list-style: none;
}

ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hPOFYV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: transparent;
    min-height: 72px;
    padding: 0px 32px;
}

.tURVv {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.55px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/*new here*/

.Hero {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 300px;
}

.Hero .HeroInner {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 50px;
    max-width: 100%;
}

h1 {
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.Hero p {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 18px;
    text-align: center;
    line-height: 1.8;
}

@media (max-width: 970px) {
    .Hero .HeroInner .HeroButtons {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.Hero .HeroInner .HeroButtons {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.h1 {
    text-transform: none;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
}

main-text {
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    text-transform: none;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
    font-weight: 600;
}

p-main {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 18px;
    text-align: center;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.7);
}

.button3 {
    background-color: #2585FF;
    /* Black but not Black */
    border: none;
    border-radius: 28px;
    flex-shrink: 0;
    color: white;
    line-height: 24px;
    padding: 16px 77px;
    text-align: center;
    margin-right: 24px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, box-shadow;
    transition-property: background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.button3:hover {
    opacity: 0.90;
    background-color: #3a91ff;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button4.grow {
    width: 100%;
}

.button4.large {
    height: 60px;
}

.button3.grow {
    width: 100%;
}

.button3.large {
    height: 60px;
}

.button4 {
    background-color: #23272a;
    /* Black but not Black */
    border: none;
    border-radius: 28px;
    flex-shrink: 0;
    color: white;
    line-height: 24px;
    padding: 16px 89px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, box-shadow;
    transition-property: background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.button4:hover {
    opacity: 0.90;
    background-color: #23272a;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fa {
    padding: 20px;
    font-size: 31px;
    display: flex;
    width: 38px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1em;
    height: 36px;
    line-height: 26px;
    font-weight: 300;
    margin-right: .5em;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, box-shadow;
    transition-property: background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    /*border-radius: 13px;*/
}

.eSjOZD {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(23, 24, 27);
    transition: all 0.15s ease-in-out 0s;
}

.hlBFRk {
    position: relative;
    border-bottom: 1px solid rgb(48, 49, 52);
    align-items: flex-start;
    padding-top: 64px;
    margin-bottom: 0px;
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 64px;
    max-width: 1600px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 72px;
}

.cfUtWc {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.55px;
    text-align: start;
    color: white;
    text-decoration: none;
}

.bwxDch {
    opacity: 0.48;
    color: rgb(255, 255, 255);
    text-align: start;
    font-size: 14px !important;
}

.kpjVPj {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 630px;
    flex: 1 1 0%;
}

.sZecb {
    margin-bottom: 64px;
    width: 160px;
    display: flex;
    flex-direction: column;
}

.gdGZhQ {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 8px;
    transition: color 175ms ease-out 0s;
}

.hzBTNA {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 8px;
    transition: color 175ms ease-out 0s;
}

.sZecb {
    margin-bottom: 64px;
    width: 160px;
    display: flex;
    flex-direction: column;
}

.gPYdku {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    color: rgb(100, 204, 240);
    transition: color 175ms ease-out 0s;
}

.hNlZZA {
    position: relative;
    margin-bottom: 0px;
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    /*margin-bottom: 64px;*/
    max-width: 1600px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 72px;
}

.nxGHX {
    width: 749px;
    margin-bottom: 0px;
}

.gPNbMs {
    padding: 0px;
}

.LBBcq {
    display: flex;
    margin: 32px 0px;
}

.jCGnid {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

.ilXNtH {
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 3px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    padding: 20px;
    background: rgb(90, 192, 222);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.LBBcq>* {
    margin-inline-end: 16px;
}

@media (max-width: 670px) {
    .LBBcq>* {
        margin-inline-end: 0px;
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (max-width: 970px) {
    .LBBcq>* {
        margin-bottom: 16px;
        width: 100%;
    }
}

.maventest {
    margin-right: 16px;
    min-width: 250px;
}

body {
    text-rendering: optimizeLegibility;
}

.kNuROn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 800px;
    padding: 20px 0px;
    margin: auto;
}

bUIaVe {
    width: 100%;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0 10px 0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.hPbmYh {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 1 0%;
    padding: 0px 0.5em;
}

.bOgvri:not(:last-of-type) {
    margin-bottom: 5px;
}

.bOgvri {
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    flex: 1 1 0%;
    padding: 1em;
    border-radius: 5px;
}

.bOgvri:hover {
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    background-color: #282b2e;
    padding: 1em;
    border-radius: 5px;
}

.cGxQuM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: -20px;
}

.eocHJI {
    min-width: 125px;
}

.dpKwct {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: #2585FF;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.dpKwct:hover {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: #2177e5;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.eVVxFh {
    min-width: 125px;
}

.kToTJk {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: rgb(68, 71, 76);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.kToTJk:hover {
    white-space: nowrap;
    user-select: none;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    border-radius: 28px;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    background: rgba(19, 20, 22, 0.56);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.hzXPna {
    font-weight: bold;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 1em;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.cGxQuM>* {
    margin-left: 20px;
}

body {
    color: rgba(255, 255, 255, 0.7);
}

.ljeLcp {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 25px;
}

.gyiibz {
    position: relative;
    max-width: 200px;
}

.fSKVMk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.jisaeE {
    background-size: 30px;
    background-image: url(https://cdn.discordapp.com/avatars/${user.discordId}/${user.avatar}.png);
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
}

.jErOKF {
    margin-inline-start: 10px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.ffrkia {
    margin-inline-start: 10px;
    width: 8px;
    height: 8px;
    transition: transform 0.1s ease 0s;
}

html[dir="ltr"] .kzhQvQ {
    right: 0px;
}

.kzhQvQ {
    min-width: 160px;
    box-shadow: rgb(0, 0, 0) 0px 1px 3px;
    position: absolute;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1em);
    z-index: 1;
    background: rgb(23, 24, 27);
    border-radius: 4px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.lahioO {
    display: flex;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgb(166, 170, 181);
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    padding: 5px 12px;
}

.GvIOS {
    display: flex;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(167, 42, 57);
    margin: 5px;
    padding: 5px 12px;
}

.kYkmcO {
    min-width: 160px;
    box-shadow: rgb(0, 0, 0) 0px 1px 3px;
    position: absolute;
    top: 50px;
    z-index: 1;
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    background: rgb(23, 24, 27);
    border-radius: 4px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0.3s;
}

.ozbGB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgba(19, 20, 22, 0.56);
    min-height: 72px;
    padding: 0px 32px;
}

@media (max-width: 1000px) {
    .jErOKF {
        display: none;
    }
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}
